{
  "openapi": "3.1.1",
  "info": {
    "title": "api.ir",
    "description": "محیط توسعه دهنده با امکان تست و دریافت نمونه کد به تمامی زبان ها",
    "contact": {
      "name": "api.ir",
      "email": "info@api.ir"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://s.api.ir/"
    }
  ],
  "paths": {
    "/api/Sandbox/Echo": {
      "post": {
        "tags": [
          "تست و پیاده سازی - Sandbox"
        ],
        "summary": "Echo",
        "description": "این وب سرویس برای تمرین، تست، دیباگ و پیاده سازی صحیح و رایگان وب سرویس ها قبل از پیاده سازی عملیاتی می باشد و ساختار آن با دیگر وب سرویس ها یکسان در نظر گرفته شده که بتوانید به آسانی تست و پیاده سازی اولیه را انجام دهید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EchoReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EchoReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EchoReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfEchoRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfEchoRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfEchoRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/Shahkar": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "احراز هویت شاهکار",
        "description": "وب سرویس شاهکار تطبیق کد ملی با شماره موبایل را استعلام می نماید. در این نسخه دیتا به صورت رمز شده استعلام می گردد. همچنین امکان استعلام شناسه ملی و سیم کارت اشخاص حقوقی هم دارد",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShahkarReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShahkarReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShahkarReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/ShahkarLite": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "احراز هویت شاهکار Lite",
        "description": "این وب سرویس نسخه Lite وب سرویس شاهکار است. شاهکار تطبیق کد ملی با شماره موبایل را استعلام می کند. تفاوت آن به نسخه اصلی شاهکار در قیمت و نوع ارسال دیتا است. در نسخه اصلی شاهکار دیتا به صورت رمز شده استعلام می گردد. این نسخه مناسب کسب و کار های کوچک می باشد.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShahkarLiteReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShahkarLiteReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShahkarLiteReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/ShahkarPro": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "احراز هویت شاهکار Pro",
        "description": "وب سرویس شاهکار پرو تطبیق کد ملی با شماره موبایل را استعلام می نماید. در این نسخه دیتا به صورت رمز شده استعلام می گردد. همچنین امکان استعلام شناسه ملی و سیم کارت اشخاص حقوقی هم دارد. تفاوت کلیدی آن با نسخه شاهکار در پایداری بالاتر ان به دلیل تفاوت آن در معماری ارتباطی ان است و مناسب کسب و کار های سازمان ها و کسب و کار های بزرگ است",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShahkarProReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ShahkarProReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ShahkarProReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/PersonInfo": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام مشخصات هویتی",
        "description": "این وب سرویس با دریافت کد ملی و تاریخ تولد صحیح مشخصات هویتی و همین طور زنده بودن یک فرد را از ثبت احوال استعلام می نماید. (نیاز سطح مجوز trust level)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonInfoReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonInfoReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PersonInfoReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPersonInfoRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPersonInfoRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPersonInfoRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/PersonData": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام مشخصات هویتی 2",
        "description": "این وب سرویس با دریافت کد ملی و تاریخ تولد صحیح مشخصات هویتی و همین طور زنده بودن یک فرد را همراه با عکس کارت ملی از ثبت احوال استعلام می نماید. (ارائه این سرویس به سازمان ها و شرکت ها با ارائه مجوز های لازم مقدور است)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonDataReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonDataReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PersonDataReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPersonDataRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPersonDataRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPersonDataRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/CardMatch": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "تطبیق کد ملی با کارت بانکی",
        "description": "با وب سرویس تطبیق کد ملی با کارت بانکی می توانید از دریافت صحیح کارت ملی متعلق به مشتری مطمئن شوید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardMatchReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CardMatchReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CardMatchReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/CardMobileMatch": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "تطبیق کارت بانکی با موبایل",
        "description": "با وب سرویس تطبیق موبایل با کارت بانکی می توانید از دریافت صحیح کارت ملی متعلق به مشتری مطمئن شوید.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardMobileMatchReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CardMobileMatchReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CardMobileMatchReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/IbanMatch": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "تطبیق کد ملی با شبا",
        "description": "با وب سرویس استعلام تطبیق کد ملی با شبا می توانید مطمئن شوید که شبا دریافتی متعلق به کد ملی مشتری باشد.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IbanMatchReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/IbanMatchReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/IbanMatchReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/IbanMatchPro": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "تطبیق کد ملی با شبا پرو (سیاح)",
        "description": "سرویس تطبیق شماره شبا و کد ملی **بدون تاریخ تولد** امکان اعتبارسنجی مالک حساب بانکی را به‌صورت سریع و امن برای کسب‌وکارها فراهم می‌کند. این API با دریافت شماره شبا و کد ملی، تطابق یا عدم تطابق اطلاعات را به‌صورت شفاف در خروجی اعلام می‌کند و به کاهش خطا، تقلب و ریسک‌های مالی کمک می‌نماید. استفاده از این سرویس در فرآیندهای KYC، پرداخت، تسویه‌حساب و پذیرش مشتریان بسیار کاربردی است. کسب‌وکارها با بهره‌گیری از این سرویس می‌توانند اعتماد کاربران را افزایش داده و فرآیندهای مالی خود را مطابق با الزامات نظارتی و بانکی به‌صورت هوشمند مدیریت کنند.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IbanMatchProReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/IbanMatchProReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/IbanMatchProReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/Call": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "وب سرویس تماس تلفنی",
        "description": "این وب سرویس برای برقراری تماس با مشتری است با این وب سرویس می توانید پیام های طولانی را از طریق تماس به مشتری اعلام کنید. تماس تلفنی بلک لیست ندارد. به تمامی شماره های ثابت و همراه قابل ارسال است. امکان سفارشی سازی لهجه و گویش و موزیک پس زمینه را دارد و از اثر بخشی بالایی برخوردار است. ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CallReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CallReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/CallOTP": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "وب سرویس OTP تلفنی",
        "description": "نرخ ارسال پیامک با خط خدماتی از بهترین شبکه پیامکی کمتر 95%است برای همین شرکت هایی مثل دیجیکالا و بانی مد ارسال کد تلفنی را به عنوان پشتیبان پیامک پیاده سازی کردند. بنابراین شما هم برای اینکه هیچ مشتری از دست ندهید می توانید این سرویس به عنوان پشتیبان ارسال کد های پیامکی پیاده سازی کنید.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallOTPReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CallOTPReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CallOTPReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/CallOTPalt": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "وب سرویس OTP تلفنی alt",
        "description": "تماس با قابلیت هایی که دارد به عنوان گزینه پشتیبان برای پیامک نیز می باشد. سرویس CallOTPalt با شبکه مجزا به عنوان گزینه پشتیبان سرویس CallOTP می باشد",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallOTPaltReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CallOTPaltReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CallOTPaltReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/SmsOTP": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "وب سرویس OTP پیامکی",
        "description": "برای ارسال کد یا رمز پیامکی به تمامی شماره ها دیگه به خط خدماتی یا خرید پنل پیامکی نیازی ندارید. کدهای شما از بهترین و سریع ترین شبکه پیامکی با خط 8 رقمی رند به تمامی شماره ها ارسال می شود.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsOTPReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsOTPReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SmsOTPReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/SendSms": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "ارسال پیامک خدماتی",
        "description": "این وب سرویس برای ارسال انواع پیامک به تمامی شماره ها با خط اختصاصی و خدماتی می باشد.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfint"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfint"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfint"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/VideoVerifySpeechText": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "دریافت متن تصادفی ورودی احراز ویدئویی",
        "description": "این سرویس با هر بار اجرا متنی تصاوفی جهت خواندن در احراز ویدئویی تولید می کند",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoVerifySpeechTextReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoVerifySpeechTextReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VideoVerifySpeechTextReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/VideoVerify": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "احراز ویدئویی بایومتریک",
        "description": "احراز هویت بایومتریک +Live، نوعی احراز بایومتریک ویدئویی است که فیلم کوتاه از چهره فرد گرفته شده و با اطلاعات هویتی و تصویر کارت ملی وی مقایسه می گردد و در نهایت تطبیق انها اعلام می شود و زنده سنجی کاربر را انجام می دهد + امکان خواندن متنی به جهت آگاهی کاربر و اعلام کاربر را دارد",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoVerifyReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoVerifyReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VideoVerifyReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfVideoVerifyRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfVideoVerifyRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfVideoVerifyRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/Enamad": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام دارنده اینماد",
        "description": "با این وب سرویس می توانید وضعیت نماد اعتماد یک وب سایت را استعلام کنید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnamadReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EnamadReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EnamadReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfEnamadModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfEnamadModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfEnamadModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/IsHoliday": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام تعطیلی امروز",
        "description": "این وب سرویس وضعیت تعطیل بودن امروز را تعیین می کند و برای اجرا یا توقف برخی سرویس ها در روز های تعطیل کاربرد دارد",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IsHolidayReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/IsHolidayReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/IsHolidayReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/Wallpaper": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "وب سرویس بگراند پویا برنامه",
        "description": "این وب سرویس به صورت روزانه تصاویر بک گراند جدیدی از سراسر جهان به شما نمایش می دهد که می تواند محیط نرم افزار و سایت شما را جذاب کند",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WallpaperReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WallpaperReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WallpaperReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/IPLocation": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "وب سرویس تشخیص موقعیت IP",
        "description": "لوکیشن یک IP را بر می گرداند",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IPLocationReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/IPLocationReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/IPLocationReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfIPLocationRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfIPLocationRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfIPLocationRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/CheckEmail": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "اعتبار سنجی ایمیل",
        "description": "این وب سرویس صحت آدرس و فعال بودن یک ایمیل را استعلام می نماید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckEmailReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckEmailReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CheckEmailReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/IPIsIran": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "وب سرویس تشخیص IP ایرانی",
        "description": "ایرانی بودن IP کاربر را مشخص می کند",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IPIsIranReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/IPIsIranReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/IPIsIranReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/MyIP": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "وب سرویس دریافت IP برنامه (کلاینت)",
        "description": "شناسه IP شما را بر می گرداند و برای بررسی اتصال به اینترنت و تنظیمات دیگر کاربرد دارد و یا محدودیت IP روی کلید ها کاربرد دارد",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MyIPReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MyIPReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MyIPReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/BankAccountInfo": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام شبا با شماره حساب",
        "description": "این وب سرویس شماره حساب بانکی را استعلام کرده و شماره شبا را متعلق به آن حساب را ارائه می دهد",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountInfoReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountInfoReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountInfoReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfBankAccountInfoRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfBankAccountInfoRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfBankAccountInfoRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/BankCardInfo": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام مشخصات کارت بانکی",
        "description": "با این وب سرویس می توانید از طریق شماره کارت، نام دارنده کارت + شماره شبا + شماره حساب را استعلام نمایید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankCardInfoReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BankCardInfoReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BankCardInfoReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfBankCardInfoRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfBankCardInfoRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfBankCardInfoRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/CardInfo": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام نام مالک کارت بانکی",
        "description": "با این وب سرویس می توانید نام صاحب یک کارت بانکی را استعلام نمایید\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardInfoReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CardInfoReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CardInfoReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCardInfoRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCardInfoRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCardInfoRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/CardToIban": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "سرویس تبدیل کارت به شبا",
        "description": "با این وب سرویس می توانید مشخصات شبا یک کارت بانکی را دریافت نمایید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardToIbanReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CardToIbanReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CardToIbanReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCardToIbanRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCardToIbanRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCardToIbanRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/IbanInfo": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام نام دارنده شبا",
        "description": "با این وب سرویس می توانید نام شخص و نام بانک و وضعیت فعال بودن شبا بانکی را استعلام نمایید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IbanInfoReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/IbanInfoReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/IbanInfoReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfIbanInfoRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfIbanInfoRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfIbanInfoRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/CompanyInfo": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام شخص حقوقی",
        "description": "این وب سرویس با دریافت شناسه ملی،  اطلاعات ثبتی آن شخص حقوقی ( شرکت یا موسسه یا سازمان) را استعلام می نماید. این سرویس برای اعتبار سنجی و استعلام دقیق مشخصات شخص حقوقی کاربرد دارد ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyInfoReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyInfoReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyInfoReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCompanyInfoRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCompanyInfoRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCompanyInfoRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/CompanyMembers": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام اعضای هیئت مدیره  ",
        "description": "فهرست اعضای هیئت مدیره یک شرکت یا سازمان را همراه با اطلاعات مربوط به سمت‌ها و وضعیت آنها ارائه می‌دهد. این سرویس برای بررسی ساختار مدیریتی و بازرسین و هیئت مدیره کاربرد دارد.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyMembersReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyMembersReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyMembersReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCompanyMembersRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCompanyMembersRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCompanyMembersRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/CompanyNewspapers": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام اگهی های روزنامه رسمی",
        "description": "این وب سرویس اطلاعات آگهی‌های منتشر شده در روزنامه‌های رسمی و محلی شرکت ها استعلام می نماید. این سرویس برای بررسی صحت آگهی‌ها، اطلاع‌رسانی قانونی و پیگیری موضوعات مرتبط با کسب‌وکارها و افراد کاربردی است.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyNewspapersReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyNewspapersReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyNewspapersReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfListOfCompanyNewspapersRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfListOfCompanyNewspapersRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfListOfCompanyNewspapersRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/CompanySignatories": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام صاحبین حق امضا شرکت‌ها",
        "description": " تایید قرارداد ها و امضاء اسناد  تنها توسط امضاء دار معتبر است. این سرویس فهرست افرادی که طبق روزنامه رسمی در یک شرکت یا سازمان حق امضا دارند را مشخص می\nنماید.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySignatoriesReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySignatoriesReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySignatoriesReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCompanySignatoriesRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCompanySignatoriesRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfCompanySignatoriesRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/TaxRecords": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام پرونده ها مالیاتی",
        "description": "با استفاده از این سرویس می توانید پرونده یا پرونده های مالیاتی و وضعیت ثبت نام اشخاص حقیقی یا حقوقی را استعلام بگیرید . به این ترتیب می توانید امور مالی دقیق تر و بهتری داشته باشید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxRecordsReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxRecordsReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TaxRecordsReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfTaxRecordsRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfTaxRecordsRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfTaxRecordsRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/GeoToAddress": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "تبدیل لوکیشن به آدرس",
        "description": "این وب سرویس با دریافت مختصات نقطه Latitude و Longitude آدرس را بر می گرداند. خروجی این وب سرویس  استان، شهر و آدرس است",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeoToAddressReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GeoToAddressReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GeoToAddressReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfGeoToAddressRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfGeoToAddressRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfGeoToAddressRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/PostalCodeInfo": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "سرویس استعلام کدپستی",
        "description": "با این وب سرویس می توانید با داشتن کد پستی آدرس دقیق آن را از پست استعلام کنید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostalCodeInfoReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostalCodeInfoReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostalCodeInfoReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPostalCodeInfoRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPostalCodeInfoRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPostalCodeInfoRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/PostalCodePro": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "سرویس استعلام کدپستی نسخه Pro",
        "description": "با این وب سرویس می توانید با داشتن کد پستی آدرس دقیق آن را از پست استعلام کنید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostalCodeProReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostalCodeProReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostalCodeProReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPostalCodeProRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPostalCodeProRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPostalCodeProRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/PostalTracking": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "سرویس رهیگیری بسته پستی",
        "description": "با سرویس استعلام مرسولات پستی می‌توانید وضعیت بسته‌های پستی خود را به‌سادگی و در هر لحظه مشاهده کنید. تنها کافی است کد پیگیری مرسوله را وارد کنید تا اطلاعات کامل شامل نوع ارسال، دفتر پست مبدا، مبدا و مقصد، فرستنده و گیرنده، وزن، هزینه و تمامی رویدادهای مسیر بسته از تولید بارکد تا تحویل نهایی برای شما نمایش داده شود. این سرویس با امنیت بالا و استفاده آسان، همه جزئیات حرکت بسته را در قالب یک پاسخ واضح و قابل فهم ارائه می‌دهد و مناسب افرادی است که می‌خواهند بدون پیچیدگی‌های فنی، بسته‌های خود را پیگیری کنند.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostalTrackingReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostalTrackingReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostalTrackingReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPostalTrackingRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPostalTrackingRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPostalTrackingRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/PostalCodeLocation": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "سرویس دریافت لوکیشن با کدپستی",
        "description": "وب سرویس استعلام و دریافت لوکیشن با کد پستی، این وب سرویس نقش مهمی در تحویل و ارسال مرسولات پستی و راهنمایی پستی یا پیک دارد.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostalCodeLocationReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostalCodeLocationReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostalCodeLocationReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPostalCodeLocationRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPostalCodeLocationRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPostalCodeLocationRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/ChatGPT": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "وب سرویس Chat GPT",
        "description": "این وب سرویس gpt ورژن 4 است که دسترسی ان برای ایرانیان با محدودیت هایی روبرو شده که از این طریق می توانید از ان استفاده کنید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatGPTReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatGPTReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChatGPTReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/TextToSpeech": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "تبدیل متن به صوت با هوش مصنوعی بومی",
        "description": "این وب سرویس تبدیل متن های کوتاه به صوت با هوش مصنوعی کاربرد دارد\nنکته مهم اینکه این هوش مصنوعی بومی بوده در اینترنت ملی هم کار می کند و ارتباط بین المللی وابسته نیست",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToSpeechReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToSpeechReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TextToSpeechReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfstring"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/Sana": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام سامانه ثنا",
        "description": "این وب سرویس با دریافت شماره شناسه ملی، وضعیت داشتن یا نداشتن شماره ثنا را استعلام کرده و نتیجه را به‌صورت فوری و دقیق اعلام می‌کند. این سرویس برای تایید ثبت‌نام در سیستم ثنا و دسترسی به اطلاعات مرتبط با آن کاربرد دارد.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckSanaReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckSanaReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CheckSanaReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfboolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/UnpaidCheque": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام تعداد چک برگشتی  ",
        "description": "در این نسخه علاوه بر تعداد چک ، مبلغ چک های برگشت خورده نیز استعلام می گردد. این سرویس به بانک‌ها و کسب‌وکارها کمک می‌کند تا ریسک اعتباری مشتریان را بهتر ارزیابی و مدیریت کنند و به نسبت نسخه Lite که فقط تعداد را بر می گرداند در ریسک اعتباری ارزیابی بهتری خواهد داشت. این سرویس به کسب و کارها در سطح 2 قابل ارائه است.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnpaidChequeReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UnpaidChequeReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UnpaidChequeReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfUnpaidChequeRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfUnpaidChequeRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfUnpaidChequeRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/UnpaidChequeLite": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام تعداد چک برگشتی Lite",
        "description": "این سرویس به بانک ها و کسب وکارها کمک می کند تا ریسک اعتباری مشتریان را بهتر ارزیابی و مدیریت کنند. این نسخه از چک برگشتی نسخه Lite یا سبک آن بوده و فقط تعداد چک برگشتی فرد را استعلام می نماید. در نسخه های دیگر حسب سطح دسترسی بالاتر داده های بیشتری در خروجی نمایش داده می شود متفاوت است. ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnpaidChequeLiteReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UnpaidChequeLiteReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UnpaidChequeLiteReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfUnpaidChequeLiteRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfUnpaidChequeLiteRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfUnpaidChequeLiteRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/UnpaidChequePro": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام تعداد چک برگشتی پرو",
        "description": "در نسخه پرو علاوه بر تعداد چک و مبلغ چک برگشتی، لیست چک ها به همراهه اطلاع شعبه برگشت دهنده چک نیز برگردانده می شود. این سرویس به بانک ها و کسب وکارها کمک می کند تا ریسک اعتباری مشتریان را بهتر ارزیابی و مدیریت کنند. این نسخه فقط به شرکت ها و سازمان ها قابل ارائه می باشد",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnpaidChequeProReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UnpaidChequeProReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UnpaidChequeProReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfUnpaidChequeProRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfUnpaidChequeProRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfUnpaidChequeProRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/ChequeColor": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام رنگ چک صیادی",
        "description": "سرویس «استعلام رنگ چک» به شما کمک می‌کند قبل از دریافت چک، از اعتبار مالی صادرکننده مطمئن شوید. با یک استعلام ساده و سریع، وضعیت چک به‌صورت رنگی و کاملاً قابل‌فهم نمایش داده می‌شود و میزان ریسک معامله را مشخص می‌کند. این سرویس ابزاری هوشمند برای کاهش خطرات مالی، افزایش اطمینان در معاملات و تصمیم‌گیری آگاهانه‌تر در کسب‌وکار شماست.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChequeColorReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChequeColorReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChequeColorReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfChequeColorRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfChequeColorRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfChequeColorRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/ChequeInfo": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام مشخصات چک صیادی",
        "description": "با وب‌سرویس «استعلام شناسه چک صیادی»، می‌توانید اطلاعات کامل و دقیق چک‌ها را در عرض چند ثانیه دریافت کنید. کافی است شناسه چک را وارد کنید تا جزئیاتی مانند نام دارنده، شماره شبا، شماره سریال، تاریخ صدور و نوع چک به‌صورت امن و قابل اعتماد در اختیار شما قرار گیرد. این سرویس به کسب‌وکارها و افراد امکان می‌دهد تصمیمات مالی و تجاری خود را با سرعت، دقت و شفافیت کامل اتخاذ کنند و فرآیندهای مالی روزانه خود را سیستمی نمایند.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChequeInfoReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChequeInfoReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChequeInfoReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfChequeInfoRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfChequeInfoRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfChequeInfoRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/License": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام اعتبار مجوز شغلی",
        "description": "با این وب سرویس می توانید اعتبار مجوز شغلی (پروانه کسب) شخصی یا شرکتی را استعلام بگیرید\nو از معتبر بودن مجوز صنفی اطمینان حاصل نمایید.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfLicenseRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfLicenseRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfLicenseRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/MedicalLicense": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام اعتبار پروانه پزشکی",
        "description": "با این وب سرویس می توانید اعتبار پروانه پزشکی را استعلام بگیرید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MedicalLicenseReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MedicalLicenseReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MedicalLicenseReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfMedicalLicenseRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfMedicalLicenseRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfMedicalLicenseRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/ActiveLoans": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام تسهیلات فعال بانکی",
        "description": "وب‌سرویس استعلام تسهیلات فعال روشی آسان برای مشاهده تسهیلات و وام‌های فعال مشتری است. از مجموع وام‌های دریافتی و مانده بدهی گرفته تا تسهیلات سررسید گذشته یا معوق اطلاع یابید. این سرویس یکی از روش های ایده‌آل برای اعتبارسنجی، تصمیم‌گیری مالی و افزایش شفافیت در فروش اقساطی خواهد بود",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveLoansReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveLoansReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveLoansReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfActiveLoansRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfActiveLoansRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfActiveLoansRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/PassportStatus": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام وضعیت پاسپورت",
        "description": "اگر در زمینه گردشگری فعالیت می کنید و می خواهید اعتبار پاسپورت فرد را چک کنید ، با این سرویس می توانید اعتبار یک پاسپورت را استعلام کنید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PassportStatusReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PassportStatusReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PassportStatusReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPassportStatusRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPassportStatusRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPassportStatusRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/DrivingScore": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام نمره منفی گواهینامه  ",
        "description": "اطلاعات مربوط به نمرات منفی ثبت‌شده روی گواهینامه رانندگی را ارائه می‌دهد. این سرویس به رانندگان و سازمان‌های مرتبط کمک می‌کند تا وضعیت تخلفات رانندگی و امتیاز باقی‌مانده گواهینامه را بررسی کنند.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DrivingScoreReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DrivingScoreReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DrivingScoreReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfDrivingScoreRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfDrivingScoreRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfDrivingScoreRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/DrivingLisense": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام گواهینامه رانندگی قدیم",
        "description": "وب سرویس استعلام گواهینامه رانندگی، این امکان را به شما می دهد که اعتبار گواهینامه فرد را بررسی کنید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DrivingLisenseReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DrivingLisenseReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DrivingLisenseReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfDrivingLisenseRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfDrivingLisenseRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfDrivingLisenseRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/DrivingLicense": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام گواهینامه رانندگی جدید",
        "description": "وب سرویس استعلام گواهینامه رانندگی، این امکان را به شما می دهد که اعتبار گواهینامه فرد را بررسی کنید",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DrivingLicenseReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DrivingLicenseReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DrivingLicenseReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfDrivingLicenseRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfDrivingLicenseRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfDrivingLicenseRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/MilitaryStatus": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام خدمت سربازی",
        "description": "این وب سرویس با دریافت کد ملی، کد وضعیت نظام وظیفه، توضیحات مرتبط با وضعیت خدمت و تاریخ اتمام معافیت موقت (در صورت وجود) را ارائه می دهد. این سرویس برای احراز اصالت و بررسی وضعیت نظام وظیفه افراد در فرآیندهای استخدامی و اداری کاربرد دارد.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MilitaryStatusReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MilitaryStatusReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MilitaryStatusReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfMilitaryStatusRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfMilitaryStatusRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfMilitaryStatusRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/ActivePlates": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام پلاک های فعال",
        "description": "سرویس «لیست پلاک‌های فعال» امکان دسترسی ساده و امن به تمام پلاک‌های فعال متعلق به یک فرد را فراهم می‌کند. با وارد کردن کد ملی و شماره موبایل، می‌توانید فهرست کامل پلاک‌ها، وضعیت فعال یا فک‌شده بودن هر پلاک، تاریخ فک و توضیحات مربوط به آن را مشاهده کنید. این سرویس برای مدیریت خودروها، بررسی سوابق مالکیت و کنترل دارایی‌ها بسیار کاربردی است و به افراد و سازمان‌ها اجازه می‌دهد اطلاعات پلاک‌ها را بدون پیچیدگی فنی، سریع و دقیق در اختیار داشته باشند.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivePlatesReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivePlatesReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ActivePlatesReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfListOfActivePlatesRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfListOfActivePlatesRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfListOfActivePlatesRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/PlateHistory": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام تاریخچه پلاک",
        "description": "با سرویس «تاریخچه پلاک» می توانید با وارد کردن شماره پلاک و کد ملی مالک، می‌توانید تاریخچه کامل پلاک، مدل خودرو، سال ساخت، و تاریخ نصب و جداسازی آن را در یک نگاه مشاهده کنید. این سرویس نه تنها اطلاعات دقیق و قابل پیگیری در اختیار شما می‌گذارد، بلکه مدیریت خودروها و پلاک‌ها را سریع، شفاف و امن می‌کند. برای کسب‌وکارها، سازمان‌ها یا هر فردی که نیاز به بررسی دقیق سوابق پلاک دارد، «تاریخچه پلاک» راهکاری کاربردی و هوشمند است.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlateHistoryReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PlateHistoryReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PlateHistoryReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPlateHistoryRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPlateHistoryRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfPlateHistoryRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/VehicleCard": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام کارت و سند خودرو  ",
        "description": "اطلاعات مربوط به کارت خودرو و سند مالکیت را ارائه می‌دهد تا صحت و اعتبار مدارک مالکیت وسیله نقلیه را تایید کند. این سرویس برای جلوگیری از جعل مدارک و تضمین اصالت خودرو در معاملات و نقل‌وانتقالات کاربردی است. فرمت صحیح پلاک درج پلاک به صورت 635ب11ایران20 است",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleCardReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleCardReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleCardReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfVehicleCardRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfVehicleCardRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfVehicleCardRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/VehicleInfo": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام مشخصات و مدل خودرو",
        "description": "این سرویس با دریافت کد ملی و شماره پلاک شماره موتور ، شماره شاسی، شماره vin و مدل خودرو را بر می گرداند. پلاک را از سمت چپ به راست به ترتیب وارد کنید. ابتداد مقدار عددی بعد مقدار حرف بعد عدد 3 رقمی و بعد عدد دو رقمی مربوط به بخش ایران پلاک را وارد کنید. نمونه از چپ بخوانید : 11188ب12",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleInfoReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleInfoReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleInfoReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfVehicleInfoRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfVehicleInfoRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfVehicleInfoRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/VehicleViolation": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": " وب سرویس استعلام خلافی خودرو  ",
        "description": "از طریق این وب سرویس می تواند میزان خلافی های خودرو را استعلام نمود.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleViolationReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleViolationReq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleViolationReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfVehicleViolationRes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfVehicleViolationRes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDataOfVehicleViolationRes"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/sw1/NationalityStatus": {
      "post": {
        "tags": [
          "لیست وب سرویس ها"
        ],
        "summary": "استعلام وضعیت اتباع  ",
        "description": "این وب سرویس اطلاعات کارت اتباع را از مراجع انتظامی استعلام می نماید و اعتبار کارت اتباع را مشخص می نماید.",
[...]
